.greenbutton {
	color: green;
}
.redbutton {
	color: red;
}
.timeout {
	color: black;
	background: red;
}
.greensubmitbutton {
	color: white;
	background: green;
}
body {
	background: #29214a;
	color: #dddddd;
}
